body { 
    padding: 20px; 
    font-family: Arial, sans-serif; 
}

ul { 
    list-style: none; 
    padding: 0; 
}
li { 
    margin-bottom: 10px; 
}

form > * { 
    display: block; 
    margin-top: 10px; 
}
button { 
    cursor: pointer; 
}
